* {
  box-sizing: border-box;
}
body {
  background-color: #000;
}
header img {
  width: 100px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  gap: 100px;
  font-weight: 700;
  font-size: 24px;

  text-shadow:0px 4px 7.4px rgba(255, 255, 255, 1);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
header a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
main {
  height: 600px;
  background-image: url(./bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 150px 200px;
}

.box1,
.box2,
.box3 {
  width: 200px;
  height: 200px;
  background-color: #32fb00;
  position: relative;
  box-shadow:0px 22px 27.8px rgba(255, 249, 249, 0.25);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.div1 {
  background-color: red;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -100px;
  right: -100px;
  box-shadow:0px 18px 26.5px rgba(251, 0, 0, 0.25);
}
.div2 {
  background-color: red;
  width: 400px;
  height: 200px;
  border-radius: 100px;
  position: absolute;
  top: -100px;
  left: -100px;
  box-shadow:0px 18px 26.5px rgba(251, 0, 0, 0.25);
}
.div3 {
  background-color: red;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -100px;
  left: -100px;
  box-shadow:0px 18px 26.5px rgba(251, 0, 0, 0.25);
}
.p1 {
  font-weight: 700;
  font-size: 24px;
  color: #FF0606;
  text-shadow:0px 4px 7.4px rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
}
.p1-2 {
    font-weight: 700;
  font-size: 24px;
  color: white;
  text-shadow:0px 4px 7.4px rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}
.p2 {
   font-weight: 700;
  font-size: 24px;
  color: white;
  text-shadow:0px 4px 7.4px rgba(255, 255, 255, 1);
}
.button {
    font-weight: 700;
    font-size: 64px;
    background-color: rgba(255, 255, 255, 1);
    width: 602px;
    height: 75px;
    border-radius: 30px;
    text-shadow:16px 18px 28px rgba(255, 255, 255, 0.25);
    margin-top: 400px;
    margin-left: 220px;
    border: none;
}
.worker {
    background-color: rgba(123, 37, 37, 1);
    width: 368px;
    height: 282px;
}
.owner {
    margin-top: 150px;
    display: flex;
    gap: 100px;
}
.k1 {
    font-weight: 700;
    font-size: 32px;
    color: rgba(255, 255, 255, 1);
    text-shadow:0px 4px 7.4px rgba(255, 255, 255, 1);
    text-align: center;
}
.k2 {
    font-weight: 700;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding-top: 40px;
}
.img2 {
 width: 300px;
 padding-top: 60px;
 padding-left: 15px;
 padding-right: 15px;
}
.img3 {
    width: 300px;
    padding-left: 15px;
    padding-right: 15px;
}
.footer {
    margin-top: 800px;
}